/* Calendar.css */
.calendar-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin: 0px 0px 20px 0px;
}

.calendar-title {
    font-size: 24px;
    font-weight: bold;
    color: #3A3A3A;
    margin: 20px 4px 20px 0px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.calendar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.calendar-wrapper {
    display: flex;
    justify-content: center;
}

@media (max-width: 1450px) {
    .calendar {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1150px) {
    .calendar {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 950px) {
    .calendar {
        grid-template-columns: repeat(1, 1fr);
    }
}
