.event-list {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.event-list-title {
    font-size: 18px;
    font-weight: bold;
}

.event-year, .event-month {
    display: block; /* 년도와 월을 블록으로 표시 */
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.event-item {
    margin-bottom: 12px;
    padding: 10px;
    border-bottom: 1px solid #eaeaea;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.event-item:last-child {
    border-bottom: none;
    margin-bottom: 0px;
}

.event-summary {
    display: flex;
    align-items: center;
}

.event-image img {
    max-width: 80px;
    max-height: 80px;
    border-radius: 4px;
    margin-right: 10px;
}

.event-info h3 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.event-info p, .event-info span {
    margin: 5px 0;
    font-size: 14px;
    color: #666;
}

.event-details {
    padding-top: 10px;
    font-size: 14px;
    color: #444;
    border-top: 1px solid #eaeaea;
    animation: slide-down 0.3s ease-out;
}

@keyframes slide-down {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}
