/* Header.css */
.app-header {
    background-color: #f2f2f2;
    border-bottom: 1px solid #cacaca;
    padding: 10px 20px;
}

/* 첫 번째 단 스타일 */
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.header-left {
    flex: 1;
    text-align: left;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 15px; /* 검색 바와 사용자 이미지 간의 간격 */
    text-align: right;
}

.app-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.user-settings {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

.user-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

/* 두 번째 단 스타일 */
.menu {
    text-align: center;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: left;
    margin: 0;
    padding: 0;
}

.menu li {
    margin: 0px;
}

.menu a {
    text-decoration: none;
    color: rgb(45, 45, 45);
    padding: 8px 32px 8px 0px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
