/* Header.css */

.app-header {
    background-color: #f2f2f2;
    border-bottom: 1px solid #cacaca;
    padding: 10px 20px;
}

/* First section styles */
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.header-left {
    display: flex; /* Align icon and title horizontally */
    align-items: center;
    text-align: left;
}

.logo-icon {
    font-size: 24px;
    margin-right: 8px;
}

.app-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

/* Remaining styles */
.header-right {
    display: flex;
    align-items: center;
    gap: 15px;
    text-align: right;
}

.user-settings {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

.user-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

/* Second section styles */
.menu {
    text-align: center;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: left;
    margin: 0;
    padding: 0;
}

.menu li {
    margin: 4px 14px 4px 0px;
}

.menu a {
    text-decoration: none;
    color: rgb(45, 45, 45);
    padding: 6px 8px 6px 8px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: rgba(58, 58, 58, 0.1);
}
