/* Month.css */
.month {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.month span {
    /* font-size: 1.2em; */
    /* font-weight: bold; */
    color: #333;
    margin-bottom: 10px;
}

.week {
    display: flex;
    margin-bottom: 4px;
    gap: 4px;
}
