.month {
    padding: 0.625rem; /* 10px */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.month span {
    color: #333;
    margin-bottom: 0.625rem; /* 10px */
}

.week {
    display: flex;
    margin-bottom: 0.25rem; /* 4px */
    gap: 0.25rem; /* 4px */
}
