.month {
    padding: 0.625rem; /* 10px */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.month-name {
    color: #333;
    margin-bottom: 0.625rem; /* 10px */
    border-radius: 4px;
    cursor: pointer;
    padding: 1px 4px 1px 4px;
    transition: background-color 0.3s ease;
}

.month-name:hover {
    background-color: #f0f0f0;
}

.week {
    display: flex;
    margin-bottom: 0.25rem; /* 4px */
    gap: 0.25rem; /* 4px */
}
