/* SelectBox.css */
.select-box {
	display: inline-block;
	position: relative;
	max-width: 16rem;
	width: 16rem;
	margin: 2rem 0rem 2rem 0rem;
}

.select-box-selected {
	padding: 0.625rem; /* 10px */
	background-color: #dadada2e;
	border: 1px solid #ccc;
	border-radius: 1rem; /* 2px */
	width: 7rem; /* 120px */
	cursor: pointer;
}

.select-box-dropdown {
	position: absolute;
	background-color: #dadada2e;
	opacity: 0.95;
	top: 0rem;
	left: 9rem;
	border-radius: 1rem;
	border: 1px solid #ccc;
	max-height: 14em;
	overflow-y: scroll;
	z-index: 10;
	width: 6rem;
	scrollbar-width: none;
}

.select-box-options {
	background-color: #708ac33d;
}

.select-box-option {
	padding: 0.5rem 0.625rem; /* 8px 10px */
	cursor: pointer;
}

.select-box-option.selected {
	background-color: #dadada3d;
}

.select-box-option:hover {
	background-color: #dadada3d;
}

.selected-years {
	margin-top: 0.625rem; /* 10px */
	display: flex;
	flex-wrap: wrap;
}

.year-hashtag {
	background-color: #dadada3d;
	border-radius: 0.9375rem; /* 15px */
	padding: 0.3125rem 0.625rem; /* 5px 10px */
	margin-right: 0.3125rem; /* 5px */
	margin-bottom: 0.3125rem; /* 5px */
	cursor: pointer;
}
