.App {
	position: relative;
	text-align: center;
	min-height: 100vh;
	overflow-y: hidden;
	overflow-x: hidden;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.background-image {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-size: cover;
	background-position: bottom;
	z-index: -1;
	transition:
		top 0.5s ease,
		background-image 0.5s ease;
}

/* 배경 이미지 클래스 */
.background-0 {
	background-image: url('/src/assets/image/background/background_1.png');
}
.background-1 {
	background-image: url('/src/assets/image/background/background_2.png');
}
.background-2 {
	background-image: url('/src/assets/image/background/background_3.png');
}
.background-3 {
	background-image: url('/src/assets/image/background/background_4.png');
}
.background-4 {
	background-image: url('/src/assets/image/background/background_5.png');
}
.background-5 {
	background-image: url('/src/assets/image/background/background_6.png');
}
.background-6 {
	background-image: url('/src/assets/image/background/background_7.png');
}
.background-7 {
	background-image: url('/src/assets/image/background/background_8.png');
}
